/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 80%; }

h1 {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 42px;
  line-height: 2.625rem;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem 0; }

h4 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  line-height: 2rem;
  color: #213E52;
  text-align: center;
  padding: 0.5rem 0; }

p {
  font-size: 26px;
  font-size: 1.625rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
  line-height: 2rem;
  color: #FFFFFF; }

section {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%; }

input[type='button'], input[type='submit'] {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #0079FF; }

input[type='email'], input[type='password'] {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 27px;
  line-height: 1.6875rem;
  color: #0079FF; }

header {
  background-color: #0274F3; }

#hero {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  display: inline-block;
  width: 100%;
  height: 696px; }
  #hero .slogan {
    max-width: 58.75rem;
    margin: 28% auto 0; }
    #hero .slogan h1 {
      color: #FFFFFF; }
    #hero .slogan h4 {
      color: #FFFFFF;
      font-weight: 300; }
    @media only screen and (max-width: 62rem) {
      #hero .slogan {
        margin: 38% auto 0; } }
    @media only screen and (max-width: 48rem) {
      #hero .slogan {
        margin: 55% auto 0; } }
  #hero #account-cta {
    margin: 3.125rem auto;
    text-align: center;
    overflow: hidden; }
    #hero #account-cta .block {
      margin: 0.625rem auto; }
      #hero #account-cta .block #email, #hero #account-cta .block #password {
        border-radius: 0.5rem;
        border-color: #FFFFFF;
        padding: 0.375rem 2.1875rem 0.375rem 2.5rem;
        background: #FFFFFF;
        width: 14.6875rem;
        display: block;
        margin: 0.125rem auto; }
    #hero #account-cta #signup, #hero #account-cta #login {
      border-radius: 0.5rem;
      border-color: #FFFFFF;
      padding: 0.375rem 2.1875rem 0.375rem 2.1875rem;
      background: #FFFFFF;
      width: 9.75rem;
      display: inline-block;
      margin: 0.125rem auto; }
      #hero #account-cta #signup:hover, #hero #account-cta #login:hover {
        border-color: #28a1ff;
        cursor: pointer; }
    @media only screen and (max-width: 48rem) {
      #hero #account-cta {
        margin-bottom: 0;
        margin-top: 5%; } }

.banner {
  background-color: #64BEE0;
  height: 696px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: inline-block; }
  @media only screen and (max-width: 62rem) {
    .banner {
      height: auto; } }
  .banner .image {
    position: relative;
    display: inline-block;
    width: 55%;
    height: 100%; }
    @media only screen and (max-width: 62rem) {
      .banner .image {
        width: 100%;
        height: 50vw; } }
    @media only screen and (max-width: 62rem) {
      .banner .image {
        height: 70vw; } }
    .banner .image img {
      position: absolute;
      bottom: 10%;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 90%;
      max-height: 378px; }
      @media only screen and (max-width: 62rem) {
        .banner .image img {
          max-width: 95%;
          max-height: 100%;
          margin: 0 auto; } }
  .banner .marketing {
    width: 45%;
    position: relative;
    display: inline-block;
    height: 100%; }
    .banner .marketing img {
      display: block;
      margin: 5% auto; }
    @media only screen and (max-width: 62rem) {
      .banner .marketing {
        width: 100%; } }
    @media only screen and (max-width: 48rem) {
      .banner .marketing img {
        margin: 15% auto; } }
    .banner .marketing .blurb {
      max-width: 339px;
      margin: 20% auto;
      position: relative; }
      .banner .marketing .blurb .copy {
        margin: 3.75rem auto;
        width: 90%; }
        .banner .marketing .blurb .copy h1, .banner .marketing .blurb .copy h4 {
          text-align: left;
          bottom: 0; }
        @media only screen and (max-width: 62rem) {
          .banner .marketing .blurb .copy p {
            margin: 0 4%; }
          .banner .marketing .blurb .copy h4 {
            margin: 0 4%; } }
      @media only screen and (max-width: 62rem) {
        .banner .marketing .blurb {
          max-width: 95%;
          margin: 0 auto; } }

#team {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 8.8125rem; }
  #team .team-summary .profiles img {
    max-width: 11.8125rem;
    margin: 0 0.625rem; }
  #team .team-summary h4 {
    margin: 1.875rem auto;
    color: #737377; }
  #team .team-summary p {
    max-width: 39.25rem;
    color: #737377;
    display: inline-block;
    text-align: left; }
  #team .photo-booth {
    text-align: center;
    margin: 9rem auto;
    width: 100%;
    height: auto;
    display: inline-block; }
    #team .photo-booth img {
      max-width: 25.384375rem;
      width: 30%;
      margin: 0.7%; }
    @media only screen and (max-width: 62rem) {
      #team .photo-booth img {
        width: 45%; } }

#footer {
  background-color: #2E2E2E;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 1.875rem;
  float: left;
  padding: 0.9375rem 0 0.625rem 0; }
  @media only screen and (max-width: 48rem) {
    #footer {
      height: 3.75rem; } }
  #footer a {
    text-decoration: none;
    color: #737377; }
  #footer .copyright {
    float: left;
    text-align: left;
    margin-left: 3%; }
  #footer .contact-us {
    float: right;
    text-align: right;
    margin-right: 3%; }
  #footer .social {
    text-align: center; }
    #footer .social .fb-like {
      position: relative;
      bottom: 2px; }

.input-error {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 27px;
  line-height: 1.6875rem;
  border-radius: 0.5rem;
  border-color: #FFFFFF;
  color: #D8000C;
  background-color: #FFBABA;
  padding: 0.375rem 2.1875rem 0.375rem 2.5rem;
  width: 14.875rem;
  display: block;
  margin: -0.125rem auto 0.25rem auto;
  text-align: left; }

.empty {
  height: 8.8125rem;
  width: 100%; }
  @media only screen and (max-width: 62rem) {
    .empty {
      height: 5rem; } }

.left {
  float: left; }

.right {
  float: right; }

#bottom {
  bottom: 0; }

.burnt-sienna {
  background-color: #ED7161; }

.turquoise {
  background-color: #50E3C2; }

#welcome {
  background-color: #64BEE0;
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0; }
  #welcome .block {
    margin: 10% 20%; }
    #welcome .block h1, #welcome .block h4 {
      text-align: left; }

#welcome-footer {
  width: 100%;
  height: 1.875rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #2E2E2E; }
  @media only screen and (max-width: 48rem) {
    #welcome-footer {
      height: 3.75rem; } }
  #welcome-footer a {
    text-decoration: none;
    color: #737377; }
  #welcome-footer .copyright {
    float: left;
    text-align: left;
    margin-left: 3%; }
  #welcome-footer .contact-us {
    float: right;
    text-align: right;
    margin-right: 3%; }
  #welcome-footer .social {
    text-align: center; }
    #welcome-footer .social .fb-like {
      position: relative;
      bottom: 2px; }

#mc_embed_signup {
  margin: 4.375rem auto;
  max-width: 23.75rem;
  text-align: center; }
  @media only screen and (max-width: 48rem) {
    #mc_embed_signup {
      margin: 0 auto;
      max-width: 18.75rem; } }
  #mc_embed_signup h4 {
    color: #50E3C2;
    margin-bottom: 0.75rem; }
  #mc_embed_signup .mc-field-group {
    width: 75%;
    text-align: center;
    margin: 0 auto; }
  #mc_embed_signup #mce-EMAIL {
    border-radius: 0.25rem;
    border-color: #FFFFFF;
    border-style: None;
    text-align: center;
    width: 99%;
    padding: 0.375rem 0 0.375rem 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0.125rem auto; }
  #mc_embed_signup #mc-embedded-subscribe {
    border-radius: 0.25rem;
    border-color: #FFFFFF;
    border-style: None;
    width: 75%;
    padding: 0.375rem 2.1875rem 0.375rem 2.1875rem;
    background: #FFFFFF;
    display: inline-block;
    margin: 0.125rem auto; }
    #mc_embed_signup #mc-embedded-subscribe:hover {
      border-color: #28a1ff;
      cursor: pointer; }
