<!doctype html>
<html lang="en-US">
    <head>
        <!-- SEO -->
        <meta charset="utf-8">
        <title>Tote | Simple Mobile Stores</title>
        <meta name="description" content="Embed a mobile store and start generating revenue with products that compliment your service and enhance your user experience.">
        <meta name="robots" content="index,follow">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" sizes="16x16">

        <!--Styles-->
        <link rel="stylesheet" href="../static/css/main.css">

        <!--[if lt IE 9]>
            <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <section id="hero">
                <div class="slogan">
                    <h1>Mobile Stores. Simple.</h1>
                    <h4>Drag-and-drop stores that enhance your user's experience.</h4>
                </div>
                {% include 'partials/account.html' %}
            </section>
        </header>

        <main>
            <section id="banner">
                <div class="image">
                    <img src="../static/images/store-example.png">
                </div>
                <div class="marketing">
                    <h4>Start making revenue</h4>
                    <p>
                        Embed a mobile store and start
                        generating revenue with products
                        that compliment your service and enhance your user experience.
                    </p>
                </div>
            </section>
            <section id="team">
                <div class="team-summary">
                    <div class="profiles">
                        <img src="../static/images/carlos-profile.png" alt="">
                        <img src="../static/images/andy-profile.png" alt="">
                    </div>
                    <h4>Tote-ally awesome team</h4>
                    <p>
                        Description about the founding
                        team and how cool and awesome
                        they are.
                    </p>
                </div>
                <div class="photo-booth">
                    <img src="../static/images/placeholder.jpg" alt="">
                    <img src="../static/images/placeholder.jpg" alt="">
                    <img src="../static/images/placeholder.jpg" alt="">
                    <img src="../static/images/placeholder.jpg" alt="">
                    <img src="../static/images/placeholder.jpg" alt="">
                    <img src="../static/images/placeholder.jpg" alt="">
                </div>
            </section>
        </main>

        <footer>
            <section id="footer">
                <div class="copyright">
                    <a id="copyright" href="#">Tote &copy; 2016</a>
                </div>
                <div class="contact-us">
                    <a id="contact-us" href="mailto:support@totestore.com">Contact us</a>
                </div>
            </section>
        </footer>
    </body>
</html>
