<!doctype html>
<html lang="en-US">
    <head>
        <!-- SEO -->
        <meta charset="utf-8">
        <title>Tote | Simple Mobile Stores</title>
        <meta name="description" content="Embed a mobile store and start generating revenue with products that compliment your service and enhance your user experience.">
        <meta name="robots" content="index,follow">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" sizes="16x16">
        <link rel="image_src" href="../static/images/build-a-store.png"/>
        <link rel="image_src" href="../static/images/logo-blue.png"/>

        <!--Styles-->
        <link rel="stylesheet" href="../static/css/main.css">

        <!--[if lt IE 9]>
            <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <![endif]-->

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-37005617-2', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <header>
            <section id="hero">
                <div class="slogan">
                    <h1>Mobile Stores. Simple.</h1>
                    <h4>Drag-and-drop stores that enhance your user's experience.</h4>
                </div>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//totestore.us13.list-manage.com/subscribe/post?u=7ac52370982b0636b0acd6901&amp;id=8484418e59" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h4>let us know you're interested</h4>
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email address">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7ac52370982b0636b0acd6901_8484418e59" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </section>
        </header>

        <main>
            <section class="banner">
                <div class="marketing right">
                    <div class="blurb">
                        <h4>The Tote way</h4>
                        <p>
                            An embedded Tote store is a hands-off way to sell physical
                            products in your app.<br>
                            Generate revenue from in-app purchases your users will love,
                            minus the hassle of managing inventory.
                        </p>
                    </div>
                </div>
                <div class="image left">
                    <img src="../static/images/store-example.png" alt="store example">
                </div>
            </section>
            <section class="banner">
                <div class="marketing left">
                    <div class="blurb">
                        <h4>You're in control</h4>
                        <p>
                            Our store-builder makes creating stores a sinch. <br>
                            You choose what to sell and how much to sell it for.
                            Search for the products you want,
                            set the price, publish. Simple.
                        </p>
                    </div>
                </div>
                <div class="image right">
                    <img src="../static/images/build-a-store.png" alt="build a store">
                </div>
            </section>
            <section class="banner">
                <div class="marketing right">
                    <div class="blurb">
                        <h4>Copy-paste integration</h4>
                        <p>
                            Integrate into your app in seconds. <br>
                            Choose your products, copy the generated code for the store,
                            paste it into your app. Done.
                        </p>
                    </div>
                </div>
                <div class="image left">
                    <img src="../static/images/view-a-store.png" alt="view a store">
                </div>
            </section>
            <section class="banner">
                <div class="marketing left">
                    <div class="blurb">
                        <h4>Hands free</h4>
                        <p>
                            We handle inventory, customer service, shipping,
                            and everything in between. <br>
                            You can sit back and watch your profits grow. Up and to the right.
                        </p>
                    </div>
                </div>
                <div class="image right">
                    <img src="../static/images/analytics.png" alt="analytics">
                </div>
            </section>
        </main>

        <footer>
            <section id="footer">
                <div class="copyright">
                    <a id="copyright" href="#">Tote &copy; 2016</a>
                </div>
                <div class="contact-us">
                    <a id="contact-us" href="contact">Contact us</a>
                </div>
            </section>
        </footer>
    </body>
</html>
