$white: #FFFFFF;
$azure-radiance: #0079FF;
$azure-radiance-dark: #0274F3;
$blue-dianne: #213E52;
$jumbo: #737377;
$viking: #64BEE0;
$mine-shaft: #2E2E2E;
$monza: #D8000C;
$your-pink: #FFBABA;
$turquoise: #50E3C2;
$burnt-sienna: #ED7161;
