@import 'helpers/mixins';

// Media queries
$sml: 'only screen and (max-width : 48rem)';
$med: 'only screen and (max-width : 62rem)';

header{
    background-color: $azure-radiance-dark;
}

#hero {
    @include background-image('header');
    background: {
        repeat: no-repeat;
        position: center 0;
        size: contain;
    }
    display: inline-block;
    width: 100%;
    height: 100vh;
    .slogan {
        max-width: to-rem(940px);
        margin: 28% auto 0;
        h1 {
            color: $white;
        }
        h4 {
            color: $white;
            font-weight: 300;
        }
        @media #{$med} {
            margin: 38% auto 0;
        }
        @media #{$sml} {
            margin: 55% auto 0;
        }
    }
    #account-cta {
        margin: to-rem(50px) auto;
        text-align: center;
        overflow: hidden;
        .block {
            margin: to-rem(10px) auto;

            #email, #password {
                border: {
                    radius: to-rem(8px);
                    color: $white;
                }
                padding: to-rem(6px) to-rem(35px) to-rem(6px) to-rem(40px);
                background: $white;
                width: to-rem(235px);
                display: block;
                margin: to-rem(2px) auto;
            }
        }
        #signup, #login {
            border: {
                radius: to-rem(8px);
                color: $white;
            }
            padding: to-rem(6px) to-rem(35px) to-rem(6px) to-rem(35px);
            background: $white;
            width: to-rem(156px);
            display: inline-block;
            margin: to-rem(2px) auto;
            &:hover {
                border-color: $azure-radiance + 40;
                cursor: pointer;
            }
        }
        @media #{$sml} {
            margin-bottom: 0;
            margin-top: 5%;
        }
    }
}

.banner {
    background-color: $viking;
    height: to-rem(553px);
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    @media #{$med} {
        height: auto;
    }
    .image {
        position: relative;
        display: inline-block;
        width: 55%;
        height: 100%;
        @media #{$med} {
            width: 100%;
            height: 70vw;
        }
        img {
            position: absolute;
            bottom: 10%;
            left: 0;
            right: 0;
            margin: 0 auto auto to-rem(100px);
            max-width: 90%;
            max-height: 85%;
            @media #{$med} {
                max-width: 95%;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }
    .marketing {
        width: 45%;
        position: relative;
        display: inline-block;
        height: 100%;
        @media #{$med} {
            width: 100%;
        }
        img {
            display: block;
            margin: 5% auto;
        }
        .blurb {
            max-width: to-rem(400px);
            margin: 5% auto auto 100px;
            position: relative;
            .copy {
                margin: 0 auto;
                width: 90%;
                h1, h4 {
                    text-align: left;
                    bottom: 0;
                }
                @media #{$med} {
                    p {
                        margin: 0 4%;
                    }
                    h4 {
                        margin: 0 4%;
                    }
                }
            }
            @media #{$med} {
                max-width: 95%;
                margin: 0 auto;
            }
        }
    }
}
#team {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: to-rem(141px);
    .team-summary {
        .profiles {
            img {
                max-width: to-rem(189px);
                margin: 0 to-rem(10px);
            }
        }
        h4 {
            margin: to-rem(30px) auto;
            color: $jumbo;
        }
        p {
            max-width: to-rem(628px);
            color: $jumbo;
            display: inline-block;
            text-align: left;
        }
    }
    .photo-booth {
        text-align: center;
        margin: to-rem(144px) auto;
        width: 100%;
        height: auto;
        display: inline-block;
        img {
            max-width: to-rem(406.15px);
            width: 30%;
            margin: 0.7%;
        }
        @media #{$med} {
            img {
                width: 45%;
            }
        }
    }
}
#footer {
    background-color: $mine-shaft;
    float: left;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: to-rem(30px);
    a {
        text-decoration: none;
        color: $jumbo;
    }
    .copyright {
        float: left;
        margin: to-rem(10px) 0 0 3.3%;
    }
    .contact-us {
        float: right;
        margin: to-rem(10px) 3.3% 0 0;
    }
}

.input-error {
    @include font-small;
    border: {
        radius: to-rem(8px);
        color: $white;
    }
    color: $monza;
    background-color: $your-pink;
    padding: to-rem(6px) to-rem(35px) to-rem(6px) to-rem(40px);
    width: to-rem(238px);
    display: block;
    margin: to-rem(-2px) auto to-rem(4px) auto;
    text-align: left;
}

.empty {
    height: to-rem(141px);
    width: 100%;
    @media #{$med} {
        height: to-rem(80px);
    }
}

.left {
    float:left;
}

.right {
    float: right;
}

#bottom {
    bottom: 0;
}

.burnt-sienna {
    background-color: $burnt-sienna;
}

.turquoise {
    background-color: $turquoise;
}
